
body{
    background-image: url(/static/img/signupbg.svg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;
}




/*#submit-btn{
    background-color: rgb(26, 171, 219);
}*/

.containerBox{
  display: flex;
  justify-content: left;
}

.containerHeading h2 {
  display: flex;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  padding-bottom: 40px;
}

.box{
    border-radius: 10px;
    width:700px;
    margin-left: 150px;
    margin-top:-10px;

}

.containerName, .containerPass, .containerGM, .containerRules{
  display: flex;    
  justify-content: space-evenly;  
}

.footer{

    width:100%;
    background-color: rgb(66, 66, 66);
    color: white;
    padding: 20px;
    padding-bottom: 10px;
    padding-right: 0px;
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 0;
  
  }
.navbar {
    background-color: white;
    display: flex;   
    box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.2);

  }

  .containerNav{
    display: flex;
    position: fixed;
    top: 0;
    right : 0;
  }
  
  .navbar a {
    float: right;
    font-size: 16px;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .dropdown {
    float: right;
  }
  
  .dropdown .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: black;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color:  rgb(68, 159, 233);
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: flex;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
    display:block;
    
  }
  
  .dropdown:hover .dropdown-content {
    display:block;
  }
