/*.main-form {
    width: 450px;
    margin: auto;
}*/
@media screen and (min-width: 768px) {

    body{
        
        background: url(/img/stetho.jpg) no-repeat ;
        min-height: 100vh;
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        background-repeat: no-repeat;
        position: relative;
    }
    #user-form {
        width: 700px;
        margin: auto;
    }
   
    
    }
.color{
    background-color: #837dd1;

}
.smute{
    color: #000a09ad !important;
}
#user-form{
    -webkit-box-shadow: 0px 8px 29px 12px rgba(0,0,0,0.51);
    -moz-box-shadow: 0px 8px 29px 12px rgba(0,0,0,0.51);
    box-shadow: 0px 8px 29px 12px rgba(0,0,0,0.51);
}

/*#submit-btn{
    background-color: rgb(26, 171, 219);
}*/

@media screen and (min-width: 576px) {
    #search{display: none;}
}

@media screen and (max-width: 576px) {
    #sep{display: none;}
    body{
        
        background: url(/img/tech-health.jpg) no-repeat ;
        min-height: 100vh;
        background-size: cover;
        background-position: top;
        background-attachment: fixed;
        background-repeat: no-repeat;
        position: relative;
    }
}