{% load static %}
{% if msg %}
<script>
    alert('{{msg}}')
</script>
{% endif %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Patient-Registration-Sepsis</title>
<!--BOOTSTRAP CSS******************************-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">

        <!--forgive me-->
        <link rel="stylesheet" href="{% static '/css/registration.css' %}">
    <link rel="icon" href="{% static '/img/favicon.ico' %}">
<!--***CUSTOM CSS***********************************-->
    <link rel="stylesheet" href="{% static '/css/registration.css ' %}">

<!--***FAVICON************************************-->
    <link rel="icon" href="{% static '/img/favicon.ico ' %}" >

    <!--***font awesome****************************** -->
    <link rel="stylesheet" href="{% static '/css/all.css' %}">
<!--****END OF HEAD**********************************************************************************-->
</head>

<body>
    <!--BODY-->
    <!--NAVIGATION BAR-->
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark py-3" id="navBar">
        <a href="#" class="navbar-brand" target="_blank"><img src="/img/favicon512.png" alt="" width="48px" height="auto"/>&nbsp; SLAY-SEPSIS</a>
        <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse " id="navbarMenu">
            
            <ul class="navbar-nav ml-auto">
                <!--<li class="nav-item">
                    <a href="/html/login.html" class="nav-link" target="_blank"><i class="fas fa-sign-in-alt"></i> &nbsp;Login</a>
                </li>
                <li class="nav-item" id="sep"> <a href="#" class="nav-link">|</a></li>
                <li class="nav-item">
                    <a href="/html/registration.html" class="nav-link" target="_blank"><i class="far fa-id-badge"></i>&nbsp; Registration</a>
                </li>-->
                <li class="nav-item mx-3 ">
                    <div class="dropdown color_">
                        <a class="btn text-secondary font-weight-bolder color_" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <p class="font-weight-bolder color_">Doctor</p>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">Login</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Registration</a>
                        </div>
                      </div>
                </li>
                <li class="nav-item" id="sep"> <a href="#" class="nav-link">|</a></li>
                <li class="nav-item mx-3 ">
                    <div class="dropdown color_">
                        <a class="btn color_ text-secondary font-weight-bolder color_" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <p class="font-weight-bolder color_">Patient</p>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">Login</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Registration</a>
                        </div>
                      </div>
                </li>
            </ul>
        </div>
    </nav>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/index (3) .html" target="_blank">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Registration</li>
        </ol>
    </nav>
    <!--NAVIGATION BAR ENDS-->
    <!--FORM STARTS-->
<div class="container p-4 d-flex justify-content-center">
    <div class="row "> 
    <form action="postsignup" method="post" class="main-form needs-validation border border-dark p-4 rounded color shadow " id="user-form" novalidate>
            {% csrf_token %}
        <div class="col-sm-12 ">
            <div class="form-group">
                <!-- NAME-->
                <label for="name" class="lead font-weight-normal">Name</label>
                <input type="text" name="name" id="name" placeholder="Your Name" class="form-control">
                <!--<div class="invalid-feedback">Looks good!</div>-->
                <small class="form-text text-muted smute">
                    This should be your name.
                </small>
            </div>
        </div>
        <!--EMAIL-->
        
        <div class="form-group col-sm-12 col-md-12">
            <label for="email" class="lead font-weight-normal">Username</label>
            <input type="email" name="email" id="username" class="form-control" required>
            <div class="invalid-feedback">Please enter a valid username.</div>
            <small class="form-text text-muted smute">Please enter your Email.</small>
        </div>
        <div class="form-group col-sm-12 col-md-12">
            <label for="password" class="lead font-weight-normal">Password</label>
            <input type="password" name="password" id="username" class="form-control" required>
            <div class="invalid-feedback">Please enter a valid password.</div>
            <small class="form-text text-muted smute">Please enter your password.</small>
        </div>
       
        <!--GENDER-->
        <div class="row px-3">
            <div class="form-group col-sm-12 col-md-12">
                <label for="gender" class="lead font-weight-normal">Gender</label>
                <select name="gender" id="gender" class="form-control  ">
                    <option value="male">Male</option>
                    <option value="female">Female</option>
                    <option value="NA">I don't want to disclose</option>
                </select>
                <small class="form-text text-muted smute">Please enter your Gender.</small>
            </div>
        <!--MOBILE-NUMBER-->
        <div class="form-group col-sm-12 px-3">
            <label for="number"></label class="lead font-weight-normal"> Mobile Number</label>
            <input type="number" name="number" id="mobno" class="form-control" placeholder="+91 97845****12" required>
            <small class="form-text text-muted smute">Please enter your Contact number.</small>
        </div>
        </div>
    
            
        <br>
        <!--*************Major Details ENDS***************************-->
        <div class="form-check">
            <input type="checkbox" id="accept-terms" class="form-check-input">
            <label for="accept-terms" class="form-check-label">Accept Terms &amp; Conditions</label>
        </div>
    
        <br>
        <!--SUBMIT BUTTON-->
        <div class="d-flex justify-content-center col-sm-12 " > <button type="submit" class="btn border-dark mr-3 px-4 btn-primary btn-lg " id="submit-btn">
            Submit
        </button>
        <button type="login" class="btn btn-dark border-light btn-lg ml-3 px-4 " id="submit-btn">
            OpenCV
        </button></div>
    </form>
    </div>
</div>
</div>
<!--END OF ROW-->    
</div>
<!--END OF CONTAINER-->
<!--FOOTER-HERE-->
<footer class="footer text-center bg-dark text-light p-4 col-sm-12">
    <p>@CopyRight 2020 SIH SourceDeCode</p>
</footer>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

   <script src="{% static '/js/registration.js' %}"></script>
</body>

</html>